@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.fuenteTitulo {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  font-style: normal;
}

.fuenteParrafos {
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #30342c;
}
