@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.fuentePersonalizada {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  font-style: normal;
}
