/*IMPORTACIONES DE TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.anchoPersonalizado {
  width: 150%;
}

@media screen and (max-width: 768px) {
  .anchoPersonalizado {
    width: 80vw;
  }
}

.tipografiaCards {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 24px;
}

.tipografiaPersonalizada {
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #cecaca;
}

.responsiveImg {
  width: 96px;
  height: 96px;
}

@media screen and (max-width: 827px) {
  .responsiveImg {
    width: 70px;
    height: 70px;
  }
}
