* {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login-image {
  width: 40%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  width: 100%;
  height: 100%;
  max-width: 500px; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.login-form h1 {
  color: #4caf50;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-form p {
  color: #888;
  margin-bottom: 1.5rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-login {
  text-align: center;
  margin: 1.5rem 0;
}

.social-media-icons img {
  width: 30px; 
  height: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 1rem;
}

.signup-text {
  text-align: center;
}

.signup-text a {
  color: #4caf50;
  text-decoration: none;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-image {
      display: none;
  }

  .login-form {
      width: 90%;
      max-width: 500px;
  }
}
