* {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f8f7f0;
}

.login-image {
  width: 40%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 2rem 3.8rem;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}

.login-form h1 {
  color: #4caf50;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

.login-form p {
  color: #888;
  margin-bottom: 1.5rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 0.55rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 0.55rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-login {
  text-align: center;
  margin: 1.5rem 0;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.signup-text a {
  color: #4caf50;
  text-decoration: none;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.line-text::before,
.line-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.line-text::before {
  margin-right: 15px; /* Espacio a la izquierda del texto */
}

.line-text::after {
  margin-left: 15px; /* Espacio a la derecha del texto */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-image {
    display: none;
  }

  .login-form {
    width: 90%;
    max-width: 500px;
  }
}
