@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
.ancho {
  width: 60%;
}

.containerP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.fuente {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 32px;
}

.responsiveTree {
  padding-left: 10em;
  padding-right: 10em;
}

@media screen and (max-width: 1024px) {
  .responsiveTree {
    padding-left: 5em;
    padding-right: 5em;
  }
}
