/* Asegurarse de que html y body cubran todo el viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Envolver el contenido principal */
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe la altura completa del viewport */
  }
  
  /* Asegurarse de que el contenido principal crezca para ocupar el espacio disponible */
  .app-wrapper > *:not(footer) {
    flex: 1;
  }
  
  /* Footer siempre en el fondo */
  .footer {
    background-color: #2d2d2d;
    color: white;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }
  