/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  /* font-weight: 500; */
  cursor: pointer;
  text-decoration: inherit;
}
/* a:hover {
  color: #00bf62;
} */

body {
  margin: 0;
  padding: 0;
  color: #1f2937;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  outline: none;
}

.load-row {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.load-row span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f76002;
  border-radius: 50px;
  animation: up-down6 0.5s ease-in infinite alternate;
}

.load-row span:nth-child(2) {
  background: #e85b04c4;
  animation-delay: 0.16s;
}

.load-row span:nth-child(3) {
  background: #e85b0491;
  animation-delay: 0.32s;
}

.load-row span:nth-child(4) {
  background: #e85b0456;
  animation-delay: 0.48s;
}

@keyframes up-down6 {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Estilo personalizado para el contenedor del botón */
.google-login-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

/* Estilo para personalizar aún más el botón si es necesario */
.google-login-button-wrapper .abcRioButton {
  border-radius: 10px; /* Cambia el borde para que sea redondeado */
  padding: 0.5rem 1rem;
  background-color: #fff; /* Personaliza el fondo */
}

/* Personaliza el fondo del scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
  height: 12px; /* Altura del scrollbar horizontal */
}

/* Personaliza la pista (fondo) del scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Personaliza el pulgar (la parte deslizante) del scrollbar */
::-webkit-scrollbar-thumb {
  background: #4BAF47;
  border-radius: 10px;
}

/* Pulgar del scrollbar al hacer hover */
::-webkit-scrollbar-thumb:hover {
  background: #44a040;
}
