.language-switcher {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  top: 70%; /* Ajusta este valor para colocar los botones más abajo */
  left: 10px;
  transform: translateY(-50%); /* Mantiene el centrado en el eje Y */
  z-index: 10; /* Asegura que se muestre por encima de otros elementos */
}

.flag-icon {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  object-fit: contain;
}

.flag-icon:hover {
  transform: scale(1.1);
}

.flag-icon.active {
  border: 2px solid #4BAF47;
  border-radius: 50%;
}
